[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/DirectXTK"]
	path = extern/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
